<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @restaurant.phone_number %>
</p>

<%#= link_to 'Add new review', new_restaurant_review_path(@restaurant) %>

<p class="mt-3 pt-3 border-top"><strong>Add new review</strong></p>
<!-- POST /restaurants/4/reviews -->
<%= simple_form_for [@restaurant, @review] do |f| %>

  <%= f.error_notification %>

  <% if @review.errors.any? %>
    <div class="alert alert-danger">
      <h3>Please fix these problems:</h3>
      <ul>
      <% @review.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.input :rating %>
  </div>

  <div class="form-inputs">
    <%= f.input :content %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary mb-3' %>
  </div>
<% end %>

<p class="mt-3 pt-3 border-top"><strong>Reviews</strong></p>
<ol class="pl-3">
  <% @restaurant.reviews.each do |review| %>
    <li class="bg-light p-2">
      <p><strong>Rating:</strong> <%= review.rating %></p>
      <p><strong>Content:</strong> <%= review.content %></p>
    </li>
  <% end %>
</ol>

<%#= link_to 'Show chef name', chef_restaurant_path(@restaurant) %>

<%#= link_to 'Edit', edit_restaurant_path(@restaurant) %>
