<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
     <!-- Add these line for detecting device width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar justify-content-between navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/restaurants">Restaurants</a>

      <div id="navbarSupportedContent">
        <div class="ml-auto flex">
          <a class="btn btn-outline-primary my-2 my-sm-0 ml-2" href="/restaurants/new">Add Restaurant</a>
        </div>
      </div>
    </nav>
    <div class="container mt-3">
      <%= yield %>
    </class>
  </body>
</html>
